In [1]:
from utils import *
import pandas as pd

In [2]:
tweets, rates = get(), get(table = "collected")
users, rated = tweets.user, rates.rated_user

In [11]:
get(table = "ratings").shape

(0, 0)

In [21]:
np.zeros

                usr  cnt
0   Im_Little_Soapy    0
19   mariamaria4848    0
18        OlmanBaby    0
17     NaswanClaire    0
16     nakazaniye__    0
15        dawneight    0
14   Mort_Rainey777    0
13          Ms72128    0
12      comelywomen    0
21        betty5678    0
22  EttipsRodrguezR    0
8      DJusticeforj    0
7           KpopMx9    0
6          BawWhite    0
5   JudyCor40231800    0
4      mgsiglesias1    0
3   thankyoustories    0
2     Phoenix_Firez    0
1   WARHAMMER_T1TAN    0
10     BelleDcAndMe    0
9      willamesbury    1
20    Anagnorisis25    1
11        mrssqueak    1